<div class="row m-0">
  <div class="col col-12 col-md-9 p-0">
    <div class="row">
      <div class="col col-12">
        <div class="card">
          <div class="card-header p-2 parent">
            <p class="m-0">Current Visitor</p>
          </div>
          <div class="card-body row">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th scope="row">IP Address::</th>
                  <td class="text-right">{{ currentVisitor.ip_address }}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Location:</th>
                  <td class="text-right">{{ currentVisitor.location }}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Timezone:</th>
                  <td class="text-right">{{ currentVisitor.timezone }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-6 mt-3">
        <div class="card">
          <div class="card-header p-2 parent">
            <p class="m-0">Last 100 Visitors</p>
          </div>
          <div class="card-body">
            <table mdbTable>
              <thead>
                <tr>
                  <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let el of last100Visitors; let i = index">
                  <td>{{i}}</td>
                  <td>{{el.ip_address}}</td>
                  <td>{{el.location}}</td>
                  <td>{{el.timezone}}</td>
                  <td>{{el.last_visit}}</td>
                  <td>{{el.visits}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col col-6 mt-3">
        <div class="card">
          <div class="card-header p-2 parent">
            <p class="m-0">Top 100 Visitors</p>
          </div>
          <div class="card-body">
            <table mdbTable>
              <thead>
                <tr>
                  <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let el of top100Visitors; let i = index">
                  <td>{{i}}</td>
                  <td>{{el.ip_address}}</td>
                  <td>{{el.location}}</td>
                  <td>{{el.timezone}}</td>
                  <td>{{el.last_visit}}</td>
                  <td>{{el.visits}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

    </div>
  </div>
</div>